* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

button {
    width: 487px;
    height: 230px;
    border: double black 10px;
    border-radius: 10px;
    -webkit-text-stroke-width: 1px;
    margin: 5px;
    font-size: 50px;
}

img {
    height: 477px;
    width: max-content;
    border: double black 10px;
    border-radius: 20px;
    margin: 10px;
}

div {
    display: flex;
    justify-content: center;
}