* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

img {
    border: double black 10px;
    border-radius: 10px;
    width: 500px;
    height: 450px;
}

button {
    width: 1519px;
    height: 200px;
    font-size: 50px;
}